{% extends "blog/base.html" %}
{% block content %}
    <h3 class="mb-3">Posts by: {{ view.kwargs.username }} </h3>
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
				<div class="article-metadata">
					<a class="mr-2" href="{% url 'posts-user' post.author.username %}">{{ post.author }}</a>
					<small class="text-muted">{{ post.date_posted|date:"d, F, Y" }}</small>
					<img src="{{ post.author.profile.profile_img.url }}" alt="">
				</div>
            	<h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
	<div>
		{% if is_paginated %}
			{% if page_obj.has_previous %}
				<a href="?page=1" class='btn btn-warning'>First</a>
				<a href="?page={{ page_obj.previous_page_number }}" class='btn btn-warning'>Prev</a>
			{% endif %}
			{% for page in page_obj.paginator.page_range %}
					{% if page == page_obj.number %}
						<a href="?page={{ page }}" class='btn btn-warning'>{{ page }}</a>
					
					{% elif page > page_obj.number|add:'-2' and page < page_obj.number|add:'2'%}
						<a href="?page={{ page }}" class='btn btn-outline-warning'>{{ page }}</a>
					{% endif %}

			{% endfor %}

			{% if page_obj.has_next %}
				<a href="?page={{ page_obj.next_page_number }}"class='btn btn-warning'>Next</a>
				<a href="?page={{ page_obj.paginator.num_pages }}" class='btn btn-warning'>Last</a>
			{% endif %}	
		{% endif %}
	</div>
{% endblock content %}