{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section col-md-8">
      <div class="media">
        {% comment %} <img class="rounded-circle account-img" src="{{ user.profile.image.url }}"> {% endcomment %}
        <div class="media-body">
          	<h2 class="account-heading">{{ user.username }}</h2>
         	 <p class="text-secondary">{{ user.email }}</p>
		</div>
		<div class="media-body pr-5">
            <img src="{{ user.profile.profile_img.url }}" class="float-right">
          </div>
      </div>
     <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
              <legend class="border-bottom mb-4">Profile Info</legend>
                {{ update_user_form|crispy }}
                {{ update_profile_form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-info" type="submit">Update</button>
              <a class="btn btn-warning" href="{% url 'posts' %}">Back</a>
          </div>
      </form>
    </div>
{% endblock content %}